header{
    height: 20%;
    background-color: aqua;
}

nav.izq{
    width: 20%;
    height: 60%;
    background-color: red;
}

main{
    width: 60%;
    height: 60%;
    background-color: darkgoldenrod;
    margin-left: 20%;
    
}
nav.der{
    height: 60%;
    width: 20%;
    margin-left: 80%;
    background-color: black;
}