header{
    height: 20%;
    background-color:lightgreen;
}

nav.izq{
    width: 30%;
    height: 60%;
    background-color:green;
    float: left;
}

main{
    width: 70%;
    height: 60%;
    background-color: rgb(28, 228, 28);
    margin-left: 30%;
    float: none;   
}

footer{
    height: 20%;
    background-color: beige;
    font-style: italic;
    color: black;
    font-weight: 1000;
    text-align: center;
}