header{
    height: 20%;
    background-color: aqua;
}

nav.izq{
    width: 20%;
    height: 60%;
    background-color: red;
}

main{
    width: 60%;
    height: 60%;
    background-color: darkgoldenrod;
    margin-left: 20%;
    
}